*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HEADER */
.top-menu{
  background-color: beige;
  padding: 10px;
}

.box-menu{
  background-color: yellow;
  width: 60%;
  height: 30px;
  margin: 0px auto;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-menu span{
  margin: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
}

.box-menu #link-menu{
  width: 60%;
  background-color: blue;
  justify-content: center;
}

.top-image{
  background-color: blue;
  padding: 30px;
}

.box-top-image{
  background-color: rgb(221, 123, 139);
  width: 40%;
  height: 300px;
  margin: 0 auto;
  border: 2px dashed black;
}

/* MAIN */
.image-text-block, .text-image-block, .main-bottom-block{
  height: fit-content;
  padding: 30px 20%;
  display: flex;
}

.text-image-block, .main-bottom-block{
  background-color: grey;
}

.image-box, .text-box{
  border: 2px dashed black;
  height: 400px;
}

.image-box{
  background-color: rgb(97, 97, 252);
  flex-grow: 2;
}

.text-box{
  background-color: pink;
  flex-grow: 1;
}

.bottom-box{
  background-color: green;
  border: 2px dashed black;
  height: 500px;
  width: 100%;
}

/* FOOTER */
.info-block, .fondo{
  background-color: black;
  padding: 5px 20%;
  display: flex;
}

.info-block{
  border-bottom: 1px solid grey;
}

.column-box{
  background-color: bisque;
  height: 500px;
  width: 100%;
  border: 2px dashed black;
  display: flex;
  margin-bottom: 20px;
}

.social{
  background-color: pink;
  border: 2px dashed rgb(255, 255, 255);
  flex-grow: 2;
}

.elenco{
  background-color: rgb(128, 128, 201);
  border: 2px dashed rgb(255, 255, 255);
  flex-grow: 1;
}



